<template>
    <div>
        <header-partial/>
        <transition name="fade" mode="out-in">
            <router-view/>
        </transition>
    </div>
</template>

<script>
import HeaderPartial from '@/views/Private/Partials/Header'

export default {
  name: 'PrivateLayout',
  components: {
    HeaderPartial
  }
}
</script>
