// Font
$font-family: 'Roboto', sans-serif;
$font-size: 15px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$line-height: 1.4;

// Colors
$color-background: #fff;
$color-primary: #29b9e3;
$color-text: #444;
$color-link-default: #29b9e3;
$color-link-hover: #df4a1c;
$color-hr: #ebeef5;
$color-line: #ebeef5;

// Header
$header-height: 60px;
$header-bg-color: #197BBD;
$header-text-color: #fff;

// Margins
$margin: 20px;
$padding: 20px;

// Image path
$image-path: '/images/';

// Retina image suffix
$image-suffix: '-2x';

// Font path
$font-path: '/fonts/';


// Grid
$grid-columns: 12;
$grid-column-gutter: 30px;

// break points
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
