<template>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <span v-text="'Games'"></span>
                        <el-menu
                                :default-active="activeIndex"
                                class="el-menu-demo"
                                mode="horizontal">
                            <el-menu-item index="2" icon="el-icon-plus" @click="handleCreate" v-text="'Create'"></el-menu-item>
                        </el-menu>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <el-table v-loading="loading"
                              :data="tableData" style="width: 100%">
                        <el-table-column
                                prop="status"
                                label="Status" width="250">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.status }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="player_one.name"
                                label="Player one" width="150">
                            <template slot-scope="scope">
                                <span v-if="scope.row.player_one" style="margin-left: 5px">{{ scope.row.player_one.name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="player_two.name"
                                label="Player two" width="150">
                            <template slot-scope="scope">
                                <span v-if="scope.row.player_two" style="margin-left: 5px">{{ scope.row.player_two.name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="winner.name"
                                label="Winner" width="150">
                            <template slot-scope="scope">
                                <span v-if="scope.row.winner" style="margin-left: 5px">{{ scope.row.winner.name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column width="410">
                            <template slot-scope="scope">
                                <div class="align-right">
                                    <el-button plain circle icon="el-icon-video-play" type="success" size="mini"
                                               @click="handleStart(scope.row.id)"></el-button>
                                    <el-button plain
                                               circle
                                               icon="el-icon-bottom"
                                               type="info"
                                               size="mini"
                                               v-if="!scope.row.joined"
                                               @click="handleJoin(scope.row.id)"></el-button>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination v-if="!loading && paginatedData.total > 15"
                                   @current-change="handleCurrentChange"
                                   :current-page.sync="paginatedData.page" :page-size="15"
                                   layout="prev, pager, next" :total="paginatedData.total"></el-pagination>
                    <el-dialog
                            title="Tips"
                            :visible.sync="dialogVisible"
                            width="30%"
                            :before-close="handleClose">
                        <span><p v-if="winner"> {{ winner.name }}</p></span>
                        <span slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="dialogVisible = false">Confirm</el-button>
                          </span>
                    </el-dialog>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'List',
  metaInfo () {
    return {
      title: this.title ? this.title : ''
    }
  },
  data () {
    return {
      battleResults: null,
      dialogVisible: false,
      activeIndex: '1',
      tableData: [],
      title: 'Games',
      paginatedData: {
        page: 1,
        limit: 10,
        total: null
      },
      loading: true
    }
  },
  mounted () {
    let self = this
    self.loadGames()
      .then(() => {
        self.loading = false
      })
  },
  computed: {
    winner: function () {
      if (this.battleResults) {
        return this.battleResults.game.winner
      }
      return null
    }
  },
  methods: {
    handleClose (done) {
      this.$confirm('Are you sure to close this dialog?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    loadGames () {
      let self = this
      let url = '/games'
      self.loading = true
      return self.$api({
        method: 'GET',
        url: url
      }).then(response => {
        self.paginatedData.page = response.data.meta.current_page
        self.paginatedData.limit = response.data.meta.per_page
        self.paginatedData.total = response.data.meta.total
        self.tableData = response.data.data
      }).then(() => {
        self.loading = false
      }).catch(() => {
        self.fullscreenLoading = false
      })
    },
    handleCreate () {
      let self = this
      let url = '/games'
      self.loading = true
      return self.$api({
        method: 'POST',
        url: url
      }).then(response => {
        self.paginatedData.page = response.data.meta.current_page
        self.paginatedData.limit = response.data.meta.per_page
        self.paginatedData.total = response.data.meta.total
        self.tableData = response.data.data
        self.loadGames()
      }).then(() => {
        self.loading = false
      }).catch(() => {
        self.fullscreenLoading = false
      })
    },
    handleStart (id) {
      let self = this
      let url = '/games/' + id + '/start'
      self.loading = true
      return self.$api({
        method: 'GET',
        url: url
      }).then(response => {
        self.battleResults = response.data.data
      }).then(() => {
        self.loading = false
        self.$router.push('/logs/' + id)
      }).catch(() => {
        self.fullscreenLoading = false
      })
    },
    handleJoin (id) {
      let self = this
      self.$confirm('Are you sure you want to join this game?', 'Warning!', {
        confirmButtonText: 'Join',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        let url = '/games/' + id + '/join'
        self.loading = true
        return self.$api({
          method: 'GET',
          url: url
        }).then(response => {
          self.loadGames()
        }).then(() => {
          self.loading = false
        }).catch(() => {
          self.fullscreenLoading = false
        })
      }).catch(() => {
        self.fullscreenLoading = false
      })
    },
    handleCurrentChange (val) {
      this.paginatedData.page = val
      this.loadGames()
    },
    handleSizeChange (val) {
      this.paginatedData.limit = val
      this.loadGames()
    }
  }
}
</script>
