<template>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <span v-text="'Game Logs'"></span>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <el-table v-loading="loading"
                              :data="tableData" style="width: 100%">
                        <el-table-column
                                prop="attacker"
                                label="Attacker" width="250">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.attacker }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="target"
                                label="Target" width="250">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.target }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="strategy"
                                label="Strategy" width="250">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.strategy }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="damage"
                                label="Damage" width="250">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.damage }}</span>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination v-if="!loading && paginatedData.total > 15"
                                   @current-change="handleCurrentChange"
                                   :current-page.sync="paginatedData.page"
                                   :page-size="15"
                                   layout="prev, pager, next" :total="paginatedData.total"></el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'List',
  metaInfo () {
    return {
      title: this.title ? this.title : ''
    }
  },
  data () {
    return {
      activeIndex: '1',
      tableData: [],
      title: 'Logs',
      paginatedData: {
        page: 1,
        limit: 10,
        total: null
      },
      loading: true
    }
  },
  mounted () {
    let self = this
    self.loadLogs()
      .then(() => {
        self.loading = false
      })
  },
  methods: {

    handleCurrentChange (val) {
      this.paginatedData.page = val
      this.loadLogs()
    },
    loadLogs () {
      let self = this
      let url = '/logs/' + self.$route.params.id
      self.loading = true
      return self.$api({
        method: 'GET',
        url: url,
        params: {
          page: self.paginatedData.page
        }
      }).then(response => {
        self.paginatedData.page = response.data.meta.current_page
        self.paginatedData.limit = response.data.meta.per_page
        self.paginatedData.total = response.data.meta.total
        self.tableData = response.data.data
      }).then(() => {
        self.loading = false
      }).catch(() => {
        self.fullscreenLoading = false
      })
    }
  }
}
</script>
