* {
    font-family: $font-family !important;
}

body {
    background-color: $color-background;
    color: $color-text;
    font-display: optional;
    font-size: $font-size;
    font-weight: $font-weight-regular;
    line-height: $line-height;
    text-align: left;
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: $font-weight-bold;
    line-height: 1.1;
    margin: $margin 0;
}

h1 {
    @include flex(flex, row, wrap, space-between, center);
    border-bottom: 1px solid $color-line;
    font-size: 26px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    user-select: none;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 1em;
}

a {

    @include link-color($color-link-default, $color-link-hover, none, none);
	transition: all .3s ease;

	&:focus {
		outline: none;
	}

}

p {
    margin: 10px 0;
}

b,
bold,
strong {
    font-weight: $font-weight-bold;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $color-hr;
    margin: $margin auto;
	padding: 0;
}
