<template>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
                            <el-menu-item index="2"
                                          :class="{ 'active': activeNavigation === 'armies' }"
                                          @click="openPage('/armies')">
                                <i class="el-icon-edit"></i>
                                <span v-text="'Armies'"></span>
                            </el-menu-item>
                            <el-menu-item index="3"
                                          :class="{ 'active': activeNavigation === 'games' }"
                                          @click="openPage('/games/')">
                                <i class="el-icon-search"></i>
                                <span v-text="'Games'"></span>
                            </el-menu-item>
                        </el-menu>

                        <el-dropdown>
                            <span class="el-dropdown-link">
                                Account <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item divided>
                                    <div @click="handleLogout" v-text="'Logout'"></div>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Header',
  data () {
    return {
      activeIndex: '1',
      activeNavigation: 'games',
      displayAccountName: this.$store.state.user ? this.$store.state.user.email : ''
    }
  },
  created () {
    if (this.$route.path) {
      this.activeNavigation = this.currentRouteName
    }
  },
  computed: {
    currentRouteName () {
      return this.$route.name
    }
  },
  methods: {
    openPage (page) {
      this.activeNavigation = this.currentRouteName
      this.$router.push(page)
    },
    handleLogout () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
