<template>
    <div class="login-page">
        <div class="login-page-content">
            <div class="info-message" v-if="$store.state.message">
                <el-alert
                        :title="'Warning'"
                        type="warning"
                        :description="'Please create account first'"
                        show-icon>
                </el-alert>
            </div>
            <el-form
                    @submit.prevent.native="onSubmit('form')"
                    :model="form"
                    :rules="rules"
                    status-icon
                    ref="form"
                    label-width="80px">
                <el-form-item :label="'email'" prop="username">
                    <div class="row">
                        <div class="col-lg-12">
                            <el-input v-model="form.username" ref="username" autocomplete="off"/>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item :label="'password'" prop="password">
                    <div class="row">
                        <div class="col-lg-12">
                            <el-input type="password" v-model="form.password" autocomplete="off"/>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flex-space">
                                <router-link
                                        class="el-button el-button--primary is-plain button-submit"
                                             native-type="submit"
                                             type="primary"
                                             to="/registration"
                                             v-text="'Registration'"/>
                                <el-button native-type="submit" type="primary" class="button-submit"
                                           :loading="false" plain v-text="'login'"
                                           v-loading.fullscreen.lock="fullscreenLoading"/>
                            </div>
                        </div>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Login',
  metaInfo () {
    return {
      title: this.title ? this.title : ''
    }
  },
  data () {
    return {
      fullscreenLoading: false,
      title: 'Login',
      form: {
        username: '',
        password: ''
      },
      rules: {
        email: [
          { required: true, message: 'email is required', trigger: 'blur' },
          { type: 'email', message: 'email is not valide', trigger: ['blur'] }
        ],
        password: [
          { required: true, message: 'password is required', trigger: ['blur'] }
        ]
      }
    }
  },
  mounted () {
    const self = this
    if (self.$store.state.isAuthenticated) {
      self.$router.push('/armies')
    } else {
      self.$refs.username.focus()
    }
  },
  methods: {
    onSubmit (formName) {
      const self = this
      self.fullscreenLoading = true
      self.$refs[formName].validate((valid) => {
        if (!valid) {
          self.fullscreenLoading = false
        } else {
          self.$store.dispatch('login', { data: self.form })
            .then(() => {
              self.$router.push('/armies')
            }).catch(() => {
              self.fullscreenLoading = false
            })
        }
      })
    }
  }
}
</script>
