<template>
    <div class="login-page">
        <div class="registration-page-content">
            <el-form @submit.prevent.native="onSubmit('form')" :model="form" :rules="rules" status-icon ref="form" label-width="150px">
                <el-form-item :label="$t('auth.name')" prop="name">
                    <div class="row">
                        <div class="col-lg-12">
                            <el-input v-model="form.name" ref="name" autocomplete="off"></el-input>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item :label="$t('auth.email')" prop="email">
                    <div class="row">
                        <div class="col-lg-12">
                            <el-input v-model="form.email" ref="email" autocomplete="off"></el-input>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item :label="$t('auth.password')" prop="password">
                    <div class="row">
                        <div class="col-lg-12">
                            <el-input type="password" v-model="form.password" autocomplete="off"></el-input>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item :label="$t('auth.password_confirmation')" prop="password_confirmation">
                    <div class="row">
                        <div class="col-lg-12">
                            <el-input type="password" v-model="form.password_confirmation" autocomplete="off"></el-input>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flex-space">
                                <router-link class="el-button el-button--primary is-plain button-submit" native-type="submit"
                                             type="primary" to="/login"  v-text="$t('auth.login_page')">
                                </router-link>
                                <el-button native-type="submit" type="primary" class="button-submit" :loading="false" plain
                                           v-loading.fullscreen.lock="fullscreenLoading" v-text="$t('auth.submit_registration')">
                                </el-button>
                            </div>
                        </div>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Registration',
  metaInfo () {
    return {
      title: this.title ? this.title : ''
    }
  },
  data () {
    return {
      fullscreenLoading: false,
      registered: false,
      title: this.$i18n.t('registration.title'),
      form: {
        name: '',
        email: '',
        password: '',
        password_confirmation: ''
      },
      rules: {
        name: [
          { required: true, message: this.$i18n.t('messages.validation.name'), trigger: 'blur' }
        ],
        email: [
          { required: true, message: this.$i18n.t('messages.validation.email'), trigger: 'blur' },
          { type: 'email', message: this.$i18n.t('messages.validation.email_valid'), trigger: ['blur'] }
        ],
        password: [
          { required: true, message: this.$i18n.t('messages.validation.password'), trigger: ['blur'] }
        ],
        password_confirmation: [
          { required: true, message: this.$i18n.t('messages.validation.password_confirmation'), trigger: ['blur'] }
        ]
      }
    }
  },
  mounted () {
    let self = this
    if (self.$store.state.isAuthenticated) {
      self.$router.push('/armies')
    } else {
      self.$refs.email.focus()
    }
  },
  methods: {
    onSubmit (formName) {
      let self = this
      self.fullscreenLoading = true
      self.$refs[formName].validate((valid) => {
        if (!valid) {
          self.fullscreenLoading = false
        } else {
          self.$store.dispatch('register', { data: self.form })
            .then(() => {
              self.fullscreenLoading = false
              self.$notify({
                title: self.$i18n.t('messages.notification'),
                message: self.$i18n.t('messages.registration_message'),
                type: 'success',
                position: 'bottom-right',
                customClass: 'notify',
                duration: 4500
              })
              self.$router.push('/login')
            }).catch((error) => {
              self.fullscreenLoading = false
              self.$notify({
                title: self.$i18n.t('messages.error'),
                message: self.$helpers.errorMessageHandler(error),
                type: 'error',
                customClass: 'notify',
                position: 'bottom-right',
                duration: 4500
              })
            })
        }
      })
    }
  }
}
</script>
