<template>
    <div>
        <main class="main page404-main">
            <div class="container">
                <div class="row center">
                    <div class="col-lg-6 col-md-9 col-sm-12">
                        <h2>
                            Error
                        </h2>
                        <p>
                            This page is not available<br />
                            Error: 404
                        </p>
                        <br />
                        <router-link :to="'/armies'" class="button primary">Back to home</router-link>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
export default {
  name: 'Error404',
  metaInfo: {
    title: 'Requested page is not available'
  }
}
</script>
