.header {

    color: #fff;
    background-color: $header-bg-color;
    border-bottom: solid 1px #e6e6e6;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;

    &-wrap {
        @include flex(flex, row, wrap, space-between, center);
        height: $header-height;
    }

    .account-menu-idem {
        float: right;
    }

    &-navigation {

		@include list-reset;
        @include flex(flex, row, wrap, flex-start, center);
        height: $header-height;

        @include breakpoint(sm) {

            @include flex(flex, column, wrap, center, center);
            background-color: $header-bg-color;
            height: calc(100vh - #{$header-height});
            left: 0;
            position: fixed;
            top: $header-height;
            transform: translateX(100vw);
            transition: all .2s ease;
            width: 100%;
            z-index: 10;

            &.active {
                transform: translateX(0);
            }

        }

		li {

            &:not(:first-child) {

                margin-left: 30px;

                @include breakpoint(md) {
                    margin-left: 20px;
                }

            }

            @include breakpoint(sm) {
                margin-left: 0 !important;
                width: 100%;
            }

            a {

                @include link-color(#fff, #fff, none, none);
                display: block;
                font-size: $font-size;
                height: $header-height;
                line-height: $header-height;
                opacity: .7;
                position: relative;
                user-select: none;

                @include breakpoint(sm) {
                    background: none !important;
                    display: block;
                    font-size: $font-size + 5;
                    height: auto;
                    line-height: 1.6;
                    padding: 10px 0;
                    text-align: center;
                }

                &.active {

                    opacity: 1;

                    &:after {

                        bottom: 0;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(255,255,255,0);
                        border-bottom-color: #fff;
                        border-width: 9px;
                        margin-left: -9px;

                        @include breakpoint(sm) {
                            display: none;
                        }

                    }

                }

                &:hover {
                    opacity: 1;
                }

                [class^="el-"] {

                    font-size: 16px;
                    margin-right: 4px;

                    @include breakpoint(md) {
                        display: none;
                    }

                }

            }

		}

    }

    &-user {

        @include flex(flex, row, wrap, flex-start, center);
        font-size: $font-size;
        height: $header-height;

        @include breakpoint(sm) {
            display: none;
        }

        &-image {

            user-select: none;

            div {
                @include flex(flex, row, wrap, center, center);
                background-color: #fff;
                border-radius: 7px;
                height: 40px;
                margin-right: 10px;
                overflow: hidden;
                width: 40px;
            }

        }

    }

    &-hamburger {

    	color: #fff !important;
        cursor: pointer;
        display: none;
        margin-top: -10px;
        padding: 9px 0;
        position: absolute;
        right: 15px;
        user-select: none;
        top: 50%;
        width: 24px;
    	z-index: 10;

    	@include breakpoint(sm) {
    		display: block;
    	}

        span,
        span:before,
        span:after {
            cursor: pointer;
            height: 3px;
            width: 24px;
            background-color: #fff;
            position: absolute;
            display: block;
            content: '';
        }

        span:before {
            top: -6px;
        }

        span:after {
            bottom: -6px;
        }

        span,
        span:before,
        span:after {
            transition: all .3s ease-out;
        }

        &.active span {
            background-color: transparent;
        }

        &.active span:before,
        &.active span:after {
            top: 0;
        }

        &.active span:before {
            transform: rotate(45deg);
        }

        &.active span:after {
            transform: rotate(-45deg);
        }

    }

    .el-menu {
        background-color: $header-bg-color;

        .el-menu-item {
            color: $header-text-color;
            i {
                color: $header-text-color;
            }
            &.is-active, &:hover {
                color: $header-text-color;
                border-bottom: 2px solid $color-background;
            }
            &:hover {
                color: $color-text;
                i {
                    color: $color-text;
                }
            }

        }
    }
}
