.main {

    padding: calc(#{$header-height} + 30px) 0 50px;

    @include breakpoint(sm) {
        padding: calc(#{$header-height} + 20px) 0 30px;
    }

    .el-menu {
        &--horizontal {
            & > .el-submenu {
                & .el-submenu__title {
                    border: 0;
                }
            }
        }
    }
}
