<template>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 v-text="'Armies New'"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <el-form :model="form" status-icon ref="form" v-loading="loading"
                             label-width="140px">
                        <div class="row flex-space">
                            <div class="col-lg-5">
                                <el-form-item :label="'Name'" prop="name">
                                    <el-input v-model="form.name"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="row flex-space">
                            <div class="col-lg-5">
                                <el-form-item :label="'Starting units'" prop="starting_units">
                                    <el-input v-model="form.starting_units"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="row flex-space">
                            <div class="col-lg-5">
                                <el-form-item :label="'Strategy'" prop="strategy">
                                    <el-select
                                            v-model="form.strategy"
                                            value-key="id"
                                            :placeholder="'Select strategy'">
                                        <el-option
                                                v-for="strategy in strategies"
                                                :key="strategy.id"
                                                :label="strategy.name"
                                                :value="strategy.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </div>
                        <el-form-item>
                            <el-button type="primary" plain :loading="false" @click="onSubmit('form')">
                                {{ 'Create' }}
                            </el-button>
                            <el-button @click="onCancel">{{ 'Cancel' }}</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Add',
  metaInfo () {
    return {
      title: this.title ? this.title : ''
    }
  },
  data: function () {
    return {
      loading: false,
      amountDisabled: false,
      likelihoodDisabled: true,
      strategies: [],
      form: {
        name: null,
        starting_units: null,
        strategy: null
      },
      title: 'New Army'
    }
  },
  beforeCreate () {
    let self = this
    self.$store.dispatch('loadStrategies')
      .then((response) => {
        self.strategies = response.data.data
      })
  },
  methods: {
    addArmy () {
      let self = this
      return self.$api({
        method: 'POST',
        url: '/armies',
        data: self.form
      })
        .then(() => {
          self.$router.push('/armies')
          self.loading = false
        })
    },
    onSubmit (formName) {
      let self = this
      self.$refs[formName].validate((valid) => {
        if (valid) {
          self.addArmy()
        }
      })
    },
    onCancel () {
      this.$router.push('/armies')
    }
  }
}
</script>
