<template>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        {{ 'Edit Army' }}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <el-form :model="form" status-icon ref="form" v-loading="loading"
                             label-width="140px">
                        <div class="row flex-space">
                            <div class="col-lg-5">
                                <el-form-item :label="'Name'" prop="name">
                                    <el-input v-model="form.name"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="row flex-space">
                            <div class="col-lg-5">
                                <el-form-item :label="'Starting units'" prop="starting_units">
                                    <el-input v-model="form.starting_units"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="row flex-space">
                            <div class="col-lg-5">
                                <el-form-item :label="'Strategy'" prop="strategy">
                                    <el-select
                                            v-model="form.strategy"
                                            value-key="id"
                                            default-first-option
                                            :placeholder="'Select strategy'">
                                        <el-option
                                                v-for="strategy in strategies"
                                                :key="strategy.id"
                                                :label="strategy.name"
                                                :value="strategy.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </div>
                        </div>
                        <el-form-item>
                            <el-button type="primary" plain :loading="false" @click="onSubmit('form')">
                                {{ 'Update' }}
                            </el-button>
                            <el-button @click="onCancel">{{ 'Cancel' }}</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Edit',
  metaInfo: {
    title: 'Edit Army'
  },
  data: function () {
    return {
      loading: false,
      strategies: [],
      form: {
        name: null,
        starting_units: null,
        strategy: null
      }
    }
  },
  mounted () {
    let self = this
    self.loadArmy(self.$route.params.id)
      .then(() => {
        self.loading = false
      })
  },
  beforeCreate () {
    let self = this
    self.$store.dispatch('loadStrategies')
      .then((response) => {
        self.strategies = response.data.data
      })
  },
  methods: {
    loadArmy (id) {
      let self = this
      return self.$api({
        method: 'GET',
        url: '/armies/' + id
      })
        .then(response => {
          self.form = response.data.data
        })
    },
    updateArmy () {
      let self = this
      return self.$api({
        method: 'PUT',
        url: '/armies/' + self.$route.params.id,
        data: self.form
      })
        .then(() => {
          self.$router.push('/armies')
          self.loading = false
        })
    },
    onSubmit () {
      let self = this
      self.updateArmy()
    },
    beforeCreate () {
      let self = this
      self.$store.dispatch('loadTags')
        .then((response) => {
          self.tags = response.data.data
        })
    },
    onCancel () {
      this.$router.push('/armies/')
    }
  }
}
</script>
