<template>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        <span v-text="'Armies'"></span>
                        <el-menu
                                :default-active="activeIndex"
                                class="el-menu-demo"
                                mode="horizontal">
                            <el-menu-item index="2" icon="el-icon-plus" @click="handleAdd" v-text="'Add Army'"></el-menu-item>
                        </el-menu>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <el-table v-loading="loading"
                              :data="tableData" style="width: 100%">
                        <el-table-column
                                prop="name"
                                label="Name" width="250">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.name }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="starting_units"
                                label="Starting units" width="150">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.starting_units }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="remaining_units"
                                label="Remaining units" width="150">
                            <template slot-scope="scope">
                                <span style="margin-left: 5px">{{ scope.row.remaining_units }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="strategy.name"
                                label="Strategy" width="150">
                            <template slot-scope="scope">
                                <span v-if="scope.row.strategy" style="margin-left: 5px">{{ scope.row.strategy.name}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column width="410">
                            <template slot-scope="scope">
                                <div class="align-right">
                                    <el-button type="primary" plain circle icon="el-icon-edit" size="mini"
                                               @click="handleEdit(scope.row.id)"></el-button>
                                    <el-button size="mini" plain circle icon="el-icon-delete" type="danger"
                                               @click="handleDelete(scope.row.id)"></el-button>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination v-if="!loading && paginatedData.total > 15"
                                   @current-change="handleCurrentChange"
                                   :current-page.sync="paginatedData.page" :page-size="15"
                                   layout="prev, pager, next" :total="paginatedData.total"></el-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import remove from 'lodash.remove'

export default {
  name: 'List',
  metaInfo () {
    return {
      title: this.title ? this.title : ''
    }
  },
  data () {
    return {
      activeIndex: '1',
      tableData: [],
      title: 'Armies',
      paginatedData: {
        page: 1,
        limit: 10,
        total: null
      },
      loading: true
    }
  },
  mounted () {
    let self = this
    self.loadArmies()
      .then(() => {
        self.loading = false
      })
  },
  methods: {
    loadArmies () {
      let self = this
      let url = '/armies'
      self.loading = true
      return self.$api({
        method: 'GET',
        url: url,
        params: {
          page: self.paginatedData.page
        }
      }).then(response => {
        self.paginatedData.page = response.data.meta.current_page
        self.paginatedData.limit = response.data.meta.per_page
        self.paginatedData.total = response.data.meta.total
        self.tableData = response.data.data
      }).then(() => {
        self.loading = false
      }).catch(() => {
        self.fullscreenLoading = false
      })
    },
    deleteArmy (id) {
      return this.$api({
        method: 'DELETE',
        url: '/armies/' + id
      })
        .then(() => {
          remove(this.tableData, function (n) {
            return n.id === id
          })
          this.$forceUpdate()
        })
    },
    handleAdd () {
      this.$router.push('/armies/add/new')
    },
    handleEdit (id) {
      this.$router.push('/armies/' + id + '/edit')
    },
    handleDelete (id) {
      let self = this
      self.$confirm('Delete army', 'Are you sure?', {
        confirmButtonText: 'Delete',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        self.deleteArmy(id)
        self.loadArmies()
      }).catch(() => {
        self.fullscreenLoading = false
      })
    },
    handleCurrentChange (val) {
      this.paginatedData.page = val
      this.loadArmies()
    },
    handleSizeChange (val) {
      this.paginatedData.limit = val
      this.loadArmies()
    }
  }
}
</script>
