.button {

    &-submit {

        @include breakpoint(xs) {
            margin: 0 0 10px !important;
            width: 100% !important;
        }

    }

}

.el {
    &-tag {
        &+.el-tag {
            margin-left: 15px;
        }
    }
}