.fade {

	&-enter {

		opacity: 0;

		&-active {
			transition-duration: .2s;
			transition-property: opacity;
			transition-timing-function: ease;
		}

	}

	&-leave {

		&-active {
			opacity: 0;
			transition-duration: .1s;
			transition-property: opacity;
			transition-timing-function: ease;
		}

	}

}
