.registration {

    &-page {

        @include flex(flex, row, no-wrap, center, center);
        height: 100vh;

        &-content {

            background-color: #fff;
            border-radius: 5px;
            border: 1px solid $color-line;
            padding: 40px 40px 10px 40px;
            transition: all .3s ease;
            width: 560px;

            @include breakpoint(sm) {
                width: 90%;
            }

            &:hover {
                box-shadow: 0 0 10px 0 rgba(232,237,250,.6), 0 2px 5px 0 rgba(232,237,250,.5);
            }

        }

    }

}
